.location_modal_row {
	padding: 14px 5px;
	border-bottom: 1px solid #d9d9d9;
}

.row_highlight {
	background: #f0f4f4;
}

.skin-purple .sidebar-menu>li.header {
	font-size: 1.1em;
	color: white;
	background: #1a2226;
}

.grid_images {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

input[type="checkbox"][id^="image_checkbox_"] {
	display: none;
}

.image_checkbox_label {
	border: 1px solid #fff;
	padding: 10px;
	/* display: block; */
	position: relative;
	margin: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
}

.image_checkbox_label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
}

.image_checkbox_label img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
}

:checked+.image_checkbox_label {
	border-color: #ddd;
}

:checked+.image_checkbox_label:before {
	content: "✓";
	background-color: grey;
	transform: scale(1);
}

:checked+.image_checkbox_label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #333;
	/* z-index: -1; */
}

#toggle-sidebar {
	color: black;
    font-size: 1.5em;
    padding: 0.70em;	
}

.dressing_menu {

	padding-left: 0 !important;
	padding-right: 0 !important;
}

.dressing_tr {

	padding-left: 0px !important;
	padding-top: 20px !important;
}

.customize_menu {

	padding-left: 0 !important;
	padding-right: 0 !important;
}

.customize_tr {

	padding-left: 0px !important;
	padding-top: 20px !important;
}

.select2-container--default .select2-selection--single{
	padding:6px !important;
	height: 35px !important;
	position: relative !important;
	border-color: #d2d6de !important;
}

.select2-container--default .select2-selection--single {
	border-radius: 0 !important;
}

.select2 .select2-container .select2-container--default{

	width: 100% !important;
}

.select2-container--default.select2-container--focus {

	width: 100% !important;
}

.select2-container {

	width: 100% !important;
}